# Ignore all build directories and their contents
build/
build/*

# Ignore all devel directories and their contents
devel/
devel/*

# Ignore pgm_map_creator directory and its contents
pgm_map_creator/
pgm_map_creator/*

# Ignore teleop_twist_keyboard directory and its contents
teleop_twist_keyboard/
teleop_twist_keyboard/*

# Ignore the catkin workspace file
.catkin_workspace