# Ignore all build directories and their contents
build/
build/*

# Ignore all devel directories and their contents
devel/
devel/*

# Ignore pgm_map_creator directory and their contents
pgm_map_creator/
build/*

# Ignore the catkin workspace file
.catkin_workspace